body {
  display: flex;
  justify-content: center;
}

.App {
  display: flex;
  align-items: center;
  text-align: center;
}

.app-header {
  background-color: #282c34;
  min-height: 5rem;
  min-width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  color: white;
}

.App-link {
  color: #61dafb;
}

.bottom-section {
  display: flex;
}
