#root {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
h1 {
  background-color: #282c34;
  color: white;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  border-radius: 0.3rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr 1.2fr 0.8fr;
  grid-template-rows: 0.7fr 1.5fr 0.8fr;
  gap: 0px 0px;
  grid-template-areas:
    'chat title-claim title-claim judge'
    'chat table table .'
    'player1 arguments arguments player2';
}

.chat {
  grid-area: chat;
}

.player1 {
  grid-area: player1;
}

.player2 {
  grid-area: player2;
}

.arguments {
  grid-area: arguments;
}

.title-claim {
  grid-area: title-claim;
}

.table {
  grid-area: table;
}

.judge {
  grid-area: judge;
}
