.card {
  position: relative;
  padding: 1rem;
  margin: 0.5rem;
  min-width: 13rem;
  max-width: 13rem;
  min-height: 21rem;
  max-height: 21rem;
  font-size: 0.9rem;
  background-image: url(/src/images/card-tex.png);
  border-radius: 0.4rem;
  user-select: none;
  text-align: left;
  overflow-wrap: break-word;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  /*transform: rotate3d(-1, 7, -1, 20deg);*/
  z-index: 4;
}

.card-id {
  position: relative;
  top: 1rem;
}

.card-hover:hover {
  background-color: #ddd;
  transition: transform 40ms;
  transform: rotate(1deg) scale(1.1);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  z-index: 7;
}

.card-focused {
  position: absolute;
  left: 25%;
  transition: all 0.3s ease-in-out;
  height: 50vh;
  width: 20vh;
  z-index: 69;
}

.card-top {
  position: relative;
  top: 0.2rem;
  font-size: 130%;
  font-family: Piazzolla, serif;
}

.card-bottom {
  position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  left: 50%;
  transform: translate(-50%);

  line-height: 0.1rem;
  justify-content: center;
  align-items: center;
}

.card-ratings {
  width: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: space-around;
  font-size: 160%;
}

.rate-card {
  display: flex;
  flex-direction: row;
}

.rate-card button {
  flex-basis: 100%;
  width: fit-content;
  height: fit-content;
}

progress::-moz-progress-bar {
  color: white;
}
progress::-webkit-progress-value {
  background: rgb(16, 190, 16);
}

.hide {
  visibility: show;
}

progress {
  background: rgb(16, 190, 16);
  color: white;
  height: 0.5rem;
  flex-basis: 100%;
}

.card-smol {
  padding: 0.5rem;
  margin: 0.2rem;
  min-width: 5em;
  max-width: 10em;
  min-height: 5rem;
  font-size: 1rem;
  width: fit-content;
  background-color: #bbb;
  border-radius: 0.6rem;
  user-select: none;
  overflow-wrap: break-word;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-stamp {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: absolute;
  top: 5rem;
  left: 3rem;
  transform: rotate(20deg);
  font-size: 250%;
  font-weight: 900;
  display: inline-block;
  color: black;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.12);
  box-shadow: inset 0px 0px 0px 10px darkred;
}

.card-stamp:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("http://i.imgur.com/5O74VI6.jpg");
  mix-blend-mode: lighten;
}

.card-body {
  padding: 0rem 0.2rem;
}
