.card-table {
  width: 100%;
  background-color: #5c5c5c;
  display: flex;
  flex-direction: row;
  border-radius: 0.5rem;
}

.scrolling-cards {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  border-radius: 0.4rem;
  margin: 1rem 1rem 1rem 0;
  padding: 2rem 2rem 2rem 0;
  scrollbar-width: thin;
  z-index: 1;
}

.first-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 4;
  margin: 1rem 0 1rem 0;
  padding: 2rem 0 2rem 0;
}

.prepared-deck {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  transform: scale(0.9);
}

.deck-prep-close {
  font-size: 400%;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 50% 0 0 0;
}

.deck-prep-close:hover {
  transform: scale(1.1);
}

.prepared-deck-cardlist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.d {
  margin: 1rem;
}

.card-place-btn {
  position: relative;
  bottom: 2rem;
  background-color: #969696;
  z-index: 55;
}

.prepared-deck .card {
  margin: 0;
}

.modal-outer {
  margin: 0;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 999;
  align-items: center;
  justify-content: flex-start;
  background-color: #00000096;
  overflow-y: scroll;
  width: 100vw;
  height: 100vh;
}
