sup {
  padding: 2rem;
  font-style: italic;
  color: #4d4d4d;
}

.login-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  padding-left: 2rem;
  padding: 10rem;
  box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.41);
  font-size: 100%;
  user-select: none;
  overflow: hidden;
  text-align: left;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    332deg,
    rgba(0, 0, 0, 0.829) 0%,
    rgba(0, 0, 0, 0.87) 64%
  );
  padding: 2rem;
  z-index: 999;
}

.login-grid {
  display: grid;
  grid-template-columns: 1fr 0.8fr;
  grid-template-rows: 0.4fr 3.6fr 0.4fr;
  gap: 10px 10px;
  grid-template-areas:
    'extra-panel login-title'
    'login-card login-settings'
    'extra-panel2 login-settings';
}
.login-topic-carousel {
  grid-area: login-card;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.login-title {
  grid-area: login-title;
}
.login-settings {
  grid-area: login-settings;
}

.extra-panel {
  grid-area: extra-panel;
  display: flex;
  justify-content: center;
  align-items: center;
}
.extra-panel2 {
  grid-area: extra-panel2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-spectators {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
}

.form-name {
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  flex-basis: 100%;
}

.voting-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  padding: 10rem;
  user-select: none;
  overflow: hidden;
  text-align: center;
  text-align: center;
  background: rgba(134, 147, 171, 0.6);
  background: linear-gradient(120deg, #000000a8 0%, #0a0a0ab9 70%);
  padding: 2rem;
  z-index: 9;
}

.form-group {
  font-size: 120%;
  text-align: left;
}

.login-role-display {
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*----------------VOTING MODAL----------------*/
.voting-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.8fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    'round1-title round2-title round3-title round4-title'
    'round1 round2 round3 round4'
    'title-topic title-topic voting voting';
}
.round1-title {
  grid-area: round1-title;
}
.round2-title {
  grid-area: round2-title;
}
.round3-title {
  grid-area: round3-title;
}
.round4-title {
  grid-area: round4-title;
}
.voting {
  grid-area: voting;
  display: flex;
}
.round-1 {
  grid-area: round-1;
  scrollbar-width: thin;
}
.round-2 {
  grid-area: round-2;
  scrollbar-width: thin;
}
.round-3 {
  grid-area: round-3;
  scrollbar-width: thin;
}
.round-4 {
  grid-area: round-4;
  scrollbar-width: thin;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.title-topic {
  grid-area: title-topic;
  background-color: white;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}
.title-q {
  grid-area: title-q;
  background-color: white;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}
.judgement-textarea {
  height: 1rem;
}
.vote-title {
  color: white;
}

.voting-round-title {
  width: 100%;
  height: 2rem;
  background-color: rgb(194, 194, 194);
  color: black;
  z-index: 100;
}

.scroll-round {
  height: 24rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
}

.BUTTON_START {
  background: #87d37e;
  border: none;
  border-radius: 0.2rem;
  color: #000;
  font-size: 1.5rem;
  padding: 1rem;
  text-decoration: none;
  display: block;
  padding: 0.2rem;
  cursor: pointer;
  text-align: center;
}

.BUTTON_INACTIVE {
  background: #797979;
  border: none;
  border-radius: 0.2rem;
  color: #000;
  font-size: 1.5rem;
  padding: 1rem;
  text-decoration: none;
  display: block;
  padding: 0.2rem;
  cursor: pointer;
  text-align: center;
}

.BUTTON_INACTIVE:hover {
  border: none;
  background: #797979;
  text-decoration: none;
  box-sizing: border-box;
  transform: scale(1);
  cursor: not-allowed;
}

.BUTTON_START:hover {
  border: none;
  background: #7be778;
  background-image: -webkit-linear-gradient(top, #7be778, #3ccb30);
  background-image: -moz-linear-gradient(top, #7be778, #3ccb30);
  background-image: -ms-linear-gradient(top, #7be778, #3ccb30);
  background-image: -o-linear-gradient(top, #7be778, #3ccb30);
  background-image: -webkit-gradient(to bottom, #7be778, #3ccb30);
  border-radius: 0.2rem;
  text-decoration: none;
  box-sizing: border-box;
}

.modal-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 4rem;
  width: 30vw;
  transform: translate(-50%, -50%);

  border-radius: 0.6rem;
  font-size: 120%;
  user-select: none;
  overflow: hidden;
  text-align: center;
  border-radius: 50px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 2px 2px 4px #d9d9d9, -2px -2px 4px #e7e7e7;
  z-index: 55;
}

.login-player {
  display: flex;
  flex-direction: row;
  flex-basis: 50%;
  align-items: center;
}

.triangular-flex-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.login-flex-player:nth-child(1) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 100%;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.login-flex-player:nth-child(2) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.login-flex-player:nth-child(3) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.spectator-icons {
  display: flex;
  flex-direction: row;
}

.big-icon {
  font-size: 150%;
}
.med-icon {
  font-size: 110%;
}
.fb100 {
  flex-basis: 100%;
  text-align: center;
}
.login-player-small {
  display: flex;
  flex-direction: column;
}

.vote-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fb50 {
  flex-basis: 50%;
  text-align: center;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.judge-ruling button {
  padding: 1rem;
  margin: 1.5rem;
}
.judge-ruling h2 {
  text-align: left;
}

.three-columns {
  display: flex;
  flex-direction: row;
}

.modal-column-right {
}

/* ------ animated loading spinner ------ */

.spinner-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.spinner-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.spinner-ellipsis div:nth-child(1) {
  left: 8px;
  animation: spinner-ellipsis1 0.6s infinite;
}
.spinner-ellipsis div:nth-child(2) {
  left: 8px;
  animation: spinner-ellipsis2 0.6s infinite;
}
.spinner-ellipsis div:nth-child(3) {
  left: 32px;
  animation: spinner-ellipsis2 0.6s infinite;
}
.spinner-ellipsis div:nth-child(4) {
  left: 56px;
  animation: spinner-ellipsis3 0.6s infinite;
}
@keyframes spinner-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes spinner-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes spinner-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
