.player {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.player-text {
  word-wrap: break-word;
  padding-right: .6rem;
  padding-left: 2rem;
  max-width: fit-content;
  max-height: fit-content;
  border-radius: 0.3rem;
  align-items: center;
  user-select: none;
  box-shadow: 8px 10px 35px -12px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: 8px 10px 35px -12px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 8px 10px 35px -12px rgba(0, 0, 0, 0.46);
}

.player-img {
  position: relative;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  left: 1.5rem;
}

.player h3 {
  flex-basis: 100%;
}
