.player {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
.player-text {
  word-wrap: break-word;
  padding-right: 0;
  line-height: 50%;
  padding-left: 2rem;
  width: 100%;
  position: relative;
  right: 3rem;
  border-radius: 0.3rem;
  align-items: center;
  text-align: center;
  user-select: none;
  font-size: 80%;
  line-height: 0.01rem;
  box-shadow: 8px 10px 35px -12px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: 8px 10px 35px -12px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 8px 10px 35px -12px rgba(0, 0, 0, 0.46);
}

.player h3 {
  flex-basis: 100%;
}
