.card {
  padding: 10px;
  margin: 40px;
  height: 17rem;
  width: 12rem;
  background-color: #bbb;
  border-radius: 0.2rem;
  user-select: none;
  overflow-wrap: break-word;
}
.card:hover {
  background-color: #ddd;
  transition: background-color 100ms;
}
