#root {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0.3rem 5vw;
  background-color: aliceblue;
  border-radius: 12px;
  background: #bfd3da;
  box-shadow: inset 7px 7px 14px #a2b3b9, inset -7px -7px 14px #dcf3fb;
}
h1 {
  background-color: #282c34;
  color: white;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  border-radius: 0.3rem;
}

button {
  padding: 0.5rem;
  margin: 0.3rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 110%;
  background: #ccc;
}

button:hover {
  background: darkgrey;
}

.grid-container-player {
  display: grid;
  grid-template-columns: 0.5fr 1.2fr 1.2fr 0.8fr;
  grid-template-rows: 0.1fr 1.5fr 0.8fr;
  gap: 0px 0px;
  grid-template-areas:
    'chat title-claim title-claim judge'
    'chat card-table card-table card-table'
    'player1 toolbox toolbox player2';
}

.grid-container-judge {
  display: grid;
  grid-template-columns: 0.5fr 1.2fr 1.2fr 0.8fr;
  grid-template-rows: 0.1fr 1.5fr 0.8fr;
  gap: 0px 0px;
  grid-template-areas:
    'chat title-claim title-claim players'
    'chat card-table card-table .'
    'judge toolbox toolbox .';
}

.grid-container-spectator {
  display: grid;
  grid-template-columns: 0.5fr 1.2fr 1.2fr 0.8fr;
  grid-template-rows: 0.1fr 1.5fr 0.8fr;
  gap: 0px 0px;
  grid-template-areas:
    'title-claim title-claim judge players'
    'card-table card-table card-table .'
    'chat chat chat .';
}

.chat {
  grid-area: chat;
}

.players {
  grid-area: players;
  display: flex;
}

.player1 {
  grid-area: player1;
}

.player2 {
  grid-area: player2;
}

.title-claim {
  grid-area: title-claim;
  justify-content: center;
}

.card-table {
  grid-area: card-table;
}

.judge {
  grid-area: judge;
}

.toolbox {
  grid-area: toolbox;
  padding: 0.2rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-items: center;
  border-radius: 8px;
  background: linear-gradient(145deg, #575658, #49484a);
  box-shadow: 8px 8px 20px #454446, -8px -8px 20px #5d5c5e;
}

.neo-box-outward {
  padding: 2rem;
  margin: 0.6rem;
  border-radius: 12px;
  background: linear-gradient(145deg, #cce2e9, #acbec4);
  box-shadow: 7px 7px 14px #a2b3b9, -7px -7px 14px #dcf3fb;
  color: black;
}

.neo-box-inward {
  padding: 2rem;
  margin: 0.6rem;
  border-radius: 12px;
  background: #bfd3da;
  box-shadow: inset 7px 7px 14px #a2b3b9, inset -7px -7px 14px #dcf3fb;
  padding: 0.3rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.big-icon {
  transform: scale(2);
}
