#root {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: .3rem 5vw;
  background-color: aliceblue;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

}
h1 {
  background-color: #282c34;
  color: white;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  border-radius: 0.3rem;
}

button {
  height: 3rem;
}

.grid-container-player {
  display: grid;
  grid-template-columns: 0.5fr 1.2fr 1.2fr 0.8fr;
  grid-template-rows: 0.1fr 1.5fr 0.8fr;
  gap: 0px 0px;
  grid-template-areas:
    'chat title-claim title-claim judge'
    'chat card-table card-table card-table'
    'player1 toolbox toolbox player2';
}

.grid-container-judge {
  display: grid;
  grid-template-columns: 0.5fr 1.2fr 1.2fr 0.8fr;
  grid-template-rows: 0.1fr 1.5fr 0.8fr;
  gap: 0px 0px;
  grid-template-areas:
    'chat title-claim title-claim players'
    'chat card-table card-table .'
    'judge toolbox toolbox .';
}

.grid-container-spectator {
  display: grid;
  grid-template-columns: 0.5fr 1.2fr 1.2fr 0.8fr;
  grid-template-rows: 0.1fr 1.5fr 0.8fr;
  gap: 0px 0px;
  grid-template-areas:
    'title-claim title-claim judge players'
    'card-table card-table card-table .'
    'chat chat chat .';
}

.chat {
  grid-area: chat;
}

.players {
  grid-area: players;
  display: flex;
}

.player1 {
  grid-area: player1;
}

.player2 {
  grid-area: player2;
}

.title-claim {
  grid-area: title-claim;
  justify-content: center;
}

.card-table {
  grid-area: card-table;
}

.judge {
  grid-area: judge;
}

.toolbox {
  grid-area: toolbox;
  padding: 0.2rem;
  margin: 2rem;
  min-height: 12rem;
  background-color: #bbb;
  border-radius: 0.2rem;
  text-align: center;
  display: flex;
  flex-direction: row;
}
